footer,
span a {
    background-color: #047f2d ;
}

header {
    background-image: linear-gradient(#047f2d , #00d034);
}

table thead,
table tfoot {
    background-color: #047f2d ;
}

table tbody tr:nth-child(odd) {
    background-color: #63df63;
}

table tbody tr:nth-child(even) {
    background-color: #63df748f;
}

table tbody tr:hover {
    background-color: #63df742f;
}

table tfoot td {
    border-top: 1px solid #047f2d ;
}